/* regra de estilo */
/* reset css */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    scrollbar-width: thin;
    scrollbar-color: red;
}

body {
    background-color: rgb(39, 39, 39);
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

/* header */
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* top/bottom left/right */
    padding: 10px 20px;    
}

/* logo */
.logo {
    width: 56px;
    height: auto;
}

