@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* regra de estilo */
/* reset css */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    scrollbar-width: thin;
    scrollbar-color: red;
}

/* Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lexend:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');*/

/* Variáveis de cores */
/* Definir cores do tema Dark */
:root,
:root[data-theme="dark"] {
    --bg: rgb(20,27,35); /* cor fundo */
    --color: rgb(255, 247, 247); /* cor texto */
    --hover: rgb(204, 192, 192);
    --sombra: rgb(0, 0, 0);
    --color-list: #32a2ff;

}

/* Definir cores tema Light */
:root[data-theme="light"] {
    --bg: rgb(245,245,247); /* cor fundo */
    --color: rgb(39, 39, 39); /* cor texto */
    --hover: rgb(12, 7, 7);
    --sombra: rgb(192, 192, 192);
    --color-list: #32a2ff;
}

/* Root Fonts 

 Baskervville: 

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

 Lexend:

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 Urbanist:

.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 */

body {
    background-color: var(--bg);
    color: var(--color);
}

html {
    scroll-behavior: smooth;
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

a {
    color: whitesmoke;
    text-decoration: none; /* para remover o underline */
}

ul {
    list-style: none; /* remover bolinhas */
}

/* ids */

/* header */
#header {
    display: flex; /* organiza os filhos de forma flexível, ajustando-os no espaço disponível */
    flex-flow: row wrap; /* flex-flow: combinação de flex-direction e flex-wrap | row: direção dos itens em linha | wrap: quebra de linha */
    justify-content: space-between; /* alinha os itens ao longo do eixo principal (horizontal) */
    align-items: center; /* alinha os itens ao longo do eixo transversal (vertical no caso) serão alinhados ao centro*/
    width: 100%;
    /* top/bottom left/right */
    padding: 10px 20px; 
    border-bottom: 1px solid #726b6b;
    background-color: var(--bg);
    z-index: 999999;   
}

#toggleTheme {
    color: var(--color); /* cor texto */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* aparece a maozinha */
    transition: all 0.6s ease-in-out;
}

/* classes */

/* logo */
.logo {
    width: 56px;
    height: auto;
}

/* menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 25px; /* espaço entre as tags dentro do menu */   
}

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;    
}

/* span dentro do <a> */
.menu-texto {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Menu Desktop */
.header-nav {
    display: none;
}

/* Mmanipulação por herança menu-link filho de menu-pai */
.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;    
}

.menu-mobile {
    bottom: 0; /* fixa o menu na parte inferior */
    position: fixed;
    width: 100vw; /* VW = viewPort - Width - visualização - largura */
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1; 
    background-color: black;
}

.menu-link.active .icone-link,
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto {
    /* color: rgb(85, 182, 238); */
    color: var(--hover)
}

.icone-link,
.menu-texto {
    color: var(--color);
}

.icone-link{
    font-size: 25px;
}
/* Fim do CSS do menu */

/* Home | Main */

#home {
    display: flex;
    flex-direction: column;
    gap:32px;
    padding: 40px 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: "Urbanist", sans-serif;    
}

h2 {
    font-size: 35px;
    font-weight: 600;
    font-family: "Urbanist", sans-serif;  
    letter-spacing: 0px;
    text-align: center;    
}

h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Urbanist", sans-serif;
    text-align: left;
}

h4 {
    font-size: 23px;
    font-weight: 300;
    font-family: "Urbanist", sans-serif;
    text-align: left;
}

p, li, span {
    font-size: 18px;
    font-family: "Urbanist", sans-serif;
}

p {
    text-align: left;
}

strong {
    font-weight: 800;
    color: var(--color);
}

.video iframe {    
    width: 100%;
    aspect-ratio: 16/9;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    width: 100%;
    border: note;    
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary {
    border: 1px solid var(--hover);
}

.btn span, .btn i {
    color: var(--hover);
    font-size: 16px;
}

.btn:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
    background-color: var(--hover);
}

.btn span:hover, .btn i:hover {
    color: black;
}

.icon-social {
    font-size: 18px;
    color: #ffffff;
}

.icon-social:hover {
    color: var(--hover);
    transition: all ease-in-out 0.5s;
}

/* Estrutura */
/* Projetos */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-img {
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 10px 25px var(--sombra);/* eixo-x eixo-y blur*/
}

.card-description {
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.icon-list {
    color: var(--color-list);
    font-size: 10px;
}

.card-item { 
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
}

/* ATUALIZAÇÕES FUTURAS - A CADA SEÇÃO NOVA, INCLUIR NESTE CAMPO */ 
#home,
.projetos,
.sobre,
.contato {
    padding: 40x 16px;
} 

.sobre {
    display: flex;
    flex-direction: column;
    gap: 24px;    
}

.sobre-perfil {
    width: 100%;
    pointer-events: none;    
    object-position: center;
}

.sobre-content1,
.sobre-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 80px;
}

.sobre-descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.sobre-skills,
.sobre-icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sobre-skills i,
.sobre-icones i {
    font-size: 20px;
    color: #05a2e5;
}

.sobre-content2 .col1,
.sobre-content .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 32px;
}

.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row2 .sobre-lista li {
    margin-bottom: 10px;
    margin-left: 5px;
}

/* Accordion */
.accordion-header {    
    width: 100%;
    border: 1px solid var(--color);
    display: flex;
    background: transparent;
    cursor: pointer;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
    transition: ease-in-out .5s;
}

.accordion-header span,
.accordion-header i {
    color: var(--color)
}

.accordion-body {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--color);
    display: none;
}

.accordion-arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.accordion-item.active .accordion-header {
    background: var(--color);
}

.accordion-item.active .accordion-header span,
.accordion-item.active .accordion-header i {
    color: var(--bg);
}

.accordion-item.active .accordion-body {
    display: flex;
}

/* Quando o item estiver ativo, rotaciona a seta */
.accordion-item.active .accordion-arrow {
    transform: rotate(180deg); /* seta para cima */
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

.contato p {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    padding: 0 140px;
}

.contato span {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu-link:hover span,
.menu-link:hover i {
    color: var(--hover);
}

/* Contato */
.form-contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500%;
    background: #989898;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}

.form-contato label {
    color: #252525;
    font-size: 18px;
    font-weight: 600;
    font-family: "Urbanist", sans-serif;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: var(--bg);
    background: #d8d5d5;
    border-radius: 6px;
    border: 1px solid #cacaca;
    transition: 0.3s ease-in-out;
    outline: none;
}

.form-contato input:focus,
.form-contato textarea:focus {
    border-color: var(--bg);
    box-shadow: 0 0 5px #7c7c7c;
}

.form-contato textarea {
    resize: vertical;
    min-height: 120px;
}

/* Rodapé */
footer {
    margin-top: 60px;
    margin-bottom: 60px;
}

footer p {
    font-size: 16px;
    text-align: center;
    padding: 16px;
    font-family: "Urbanist", sans-serif;
}

footer a {
    color: #989898;
}

footer i:hover,
footer a:hover {
    color: #05a2e5;
    transition: ease-in-out .5s;
}
/* CSS Responsivo */

/* @media cria a possibilidade de criação de tela */
/* min-width = a partir de --> */
/* a partir telas 768px */
@media (min-width: 768px) {

    #header {
      background-color: var(--bg);
      position: fixed;
  
    }
    .header-nav {
        display: flex;
    }
  
    .header-nav,
    .header-toggle {
        min-width: 20; /* largura minima do elemento (até 'x') */
    }
  
    .nav-mobile {
        display: none;
    }
  
    .logo {       
        margin-left: -150px;
    }

    #home,
    .projetos,
    .sobre,
    .contato { /* atualização futura */
        padding: 128px 96px 64px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
} /* Fim 768px */

@media (min-width: 992px) {

    .projeto-card {
        flex-direction: row;
    }

    /* Pseudoclasse */
    .projeto-card.card-reverse {
        flex-direction: row-reverse;
        justify-content: end;
    }

    .card-reverse .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
    }

    .card-img {
        width: 55%;
    }

    .sobre {
        gap: 10px;
    }

    .sobre-content1,
    .sobre-content2 {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: flex-start;
        gap: 64px;
    }

    .sobre-descricao h2 {
        text-align: left;
    }

    .descricao-button {
        justify-content: flex-start;
    }


}

/* 1200px */
@media (min-width: 1200px) {
    #home,
    .projetos,
    .sobre,
    .contato {
        padding: 160px 96px 32px;
    }

    h1 {
        font-size: 80;
    }

    h2 {
        font-size: 65;
    }

    p, span, li {
        font-size: 20px;
    }

    .descricao-button .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 70px;
    }

    .projetos,
    .sobre,
    .contato {
        padding: 160px 240px 64px; /* superior lateriais inferior */
    }

    .form-contato {
        width: 40%;
    }
}

/* max-width = largura até = x */
@media (max-width: 992px) {
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}