/* regra de estilo */
/* reset css */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    scrollbar-width: thin;
    scrollbar-color: red;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lexend:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Root Fonts 

 Baskervville: 

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

 Lexend:

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 Urbanist:

.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 */

body {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

a {
    color: whitesmoke;
    text-decoration: none; /* para remover o underline */
}

ul {
    list-style: none; /* remover bolinhas */
}

/* ids */

/* header */
#header {
    display: flex; /* organiza os filhos de forma flexível, ajustando-os no espaço disponível */
    flex-flow: row wrap; /* flex-flow: combinação de flex-direction e flex-wrap | row: direção dos itens em linha | wrap: quebra de linha */
    justify-content: space-between; /* alinha os itens ao longo do eixo principal (horizontal) */
    align-items: center; /* alinha os itens ao longo do eixo transversal (vertical no caso) serão alinhados ao centro*/
    width: 100%;
    /* top/bottom left/right */
    padding: 10px 20px;    
}

#toggleTheme {
    color: whitesmoke; /* cor texto */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* aparece a maozinha */
    transition: all 0.6s ease-in-out;
}

/* classes */

/* logo */
.logo {
    width: 56px;
    height: auto;
}

/* menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 25px; /* espaço entre as tags dentro do menu */   
}

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;    
}

/* span dentro do <a> */
.menu-texto {
    font-size: 12px;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Menu Desktop */
.header-nav {
    display: none;
}

@media (min-width: 768px) {
    .header-nav {
        display: flex;
    }
    .header-nav,
    .headerToggle {
    min-width: 20;
    }
    .nav-mobile {
        display: none;
    }

    .logo {       
        margin-left: -150px;
    }
}

/* Mmanipulação por herança menu-link filho de menu-pai */
.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;    
}

.menu-mobile {
    bottom: 0; /* fixa o menu na parte inferior */
    position: fixed;
    width: 100vw; /* VW = viewPort - Widith - visualização - largura */
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1; 
}

.menu-link.active .icone-link,
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto {
    /* color: rgb(85, 182, 238); */
    color:#ffffff
}

.icone-link,
.menu-texto {
    color:#999999;
}

.icone-link{
    font-size: 25px;
}
