/* regra de estilo */
/* reset css */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    scrollbar-width: thin;
    scrollbar-color: red;
}

/* seletores universais */

body {
    background-color: rgb(39, 39, 39);
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

a {
    color: whitesmoke;
    text-decoration: none; /* para remover o underline */
}

ul {
    list-style: none; /* remover bolinhas */
}

/* ids */

/* header */
#header {
    display: flex; /* organiza os filhos de forma flexível, ajustando-os no espaço disponível */
    flex-flow: row wrap; /* flex-flow: combinação de flex-direction e flex-wrap | row: direção dos itens em linha | wrap: quebra de linha */
    justify-content: space-between; /* alinha os itens ao longo do eixo principal (horizontal) */
    align-items: center; /* alinha os itens ao longo do eixo transversal (vertical no caso) serão alinhados ao centro*/
    width: 100%;
    /* top/bottom left/right */
    padding: 10px 20px;    
}

#toggleTheme {
    color: whitesmoke; /* cor texto */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* aparece a maozinha */
    transition: all 0.6s ease-in-out;
}

/* classes */

/* logo */
.logo {
    width: 56px;
    height: auto;
}

.headerToggle {
    display: flex;
    justify-content: flex-end;
}

/* menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 25px; /* espaço entre as tags dentro do menu */   
}

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    text-transform: uppercase; /* deixa todos os texto em letra maiúscula */
}


